<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <title>لیست محصولات</title>
</head>
{% for product in products %}
    <div>
        <h2>{{ product.name }}</h2>
        <p>{{ product.description }}</p>
        <p>قیمت: {{ product.price }}</p>
        {% if product.discount > 0 %}
            <p>تخفیف: {{ product.discount }}</p>
        {% endif %}
        {% if product.price != product.final_price %}
            <p>قیمت نهایی: {{ product.final_price }}</p>
        {% endif %}
        <p>موجودی: {{ product.stock }}</p>
    </div>
{% empty %}
    <p>هنوز محصولی ثبت نشده است.</p>
{% endfor %}
